@model TranThiLanAnh114.Models.TTLA1114

@{
    ViewData["Title"] = "Create";
}

<h1>TTLA1114</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TTLAId" class="control-label"></label>
                <input asp-for="TTLAId" class="form-control" />
                <span asp-validation-for="TTLAId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TTLAName" class="control-label"></label>
                <input asp-for="TTLAName" class="form-control" />
                <span asp-validation-for="TTLAName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TTLAGener" class="control-label"></label>
                <input asp-for="TTLAGener" class="form-control" />
                <span asp-validation-for="TTLAGener" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
